
//
// Sidebars Base Styles
// ========================

@media only screen and (min-width: 1600px) {

    .sidebar {
        font-size: 16px;
        font-size: 1.6rem;
        margin-bottom: 40px;

        .widget {
            background-color: #fff;
            padding: 40px;
        }
    }
}
