//
// After Entry
//=========================

.after-entry {
	background-color: $author-box__background-color;
	font-size: rem( $author-box__font-size );
	margin-bottom: 40px;
	padding: 60px;

	@media only screen and (max-width: $small-screen) {
		padding: 30px;
		margin-bottom: 5%;
	}
}
