//
// After Entry
//=========================

.after-entry {
	background-color: $author-box--background-color;
	@include rem( font-size, $author-box--font-size );
	margin-bottom: 40px;
	padding: 60px;

	@include media($breakpoint__small-screen) {
		padding: 30px;
		margin-bottom: 5%;
	}
}
