/* ## Forms
--------------------------------------------- */

input,
select,
textarea {
	background-color: $input--background-color;
	border: 1px solid $input--border-color;
	color: $input--color;
	@include rem( font-size, $input--font-size );
	font-weight: 400;
	padding: 16px;
	width: 100%;
}

input:focus,
textarea:focus {
	border: 1px solid $input--focus;
	outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

::-moz-placeholder {
	color: $gray--dark;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: $gray--dark;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	background-color: $form-button--background-color;
	border: 0;
	color:  $white;
	cursor: pointer;
	@include rem( font-size, $form-button--font-size );
	font-weight: 700;
	padding: 16px 24px;
	text-decoration: none;
	white-space: normal;
	width: auto;
}

button:focus,
button:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover,
.button:focus,
.button:hover {
	background-color: $form-button--hover-focus--background-color;
	color: $form-button--color;
}

.entry-content .button:focus,
.entry-content .button:hover {
	color: $form-button--hover-focus--color;
}

.button {
	display: inline-block;
}

a.button.small,
button.small,
input[type="button"].small,
input[type="reset"].small,
input[type="submit"].small {
	padding: 8px 16px;
}

.site-container {
	button:disabled,
	button:disabled:hover,
	input:disabled,
	input:disabled:hover,
	input[type="button"]:disabled,
	input[type="button"]:disabled:hover,
	input[type="reset"]:disabled,
	input[type="reset"]:disabled:hover,
	input[type="submit"]:disabled,
	input[type="submit"]:disabled:hover {
		background-color: $form-button--background-color--disabled;
		border-width: 0;
		color: $form-button--color--disabled;
		cursor: not-allowed;
	}
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}
