
//
// Comments Base Style
//=========================

.comment-respond,
.entry-comments,
.entry-pings {
	background-color: $comment--background-color;
	@include rem( font-size, $mobile__comments--font-size );
	margin-bottom: 5%;
	padding: 30px;
}

.comment-respond,
.entry-pings {
	padding: 4.5rem 4.5rem 2.5rem;
}

.entry-comments {
	padding: 3.5rem;
}

.entry-pings .reply {
	display: none;
}

@media only screen and (min-width: 1600px) {

	.comment-respond,
	.entry-comments,
	.entry-pings {
		margin-bottom: 40px;
	}
	.comment-respond,
	.entry-pings {
		padding: 60px 60px 32px;
	}

	.entry-comments {
		padding: 60px;
	}
}