
/* ## Widget Area
--------------------------------------------- */

.site-header .widget-area {
	float: right;
	text-align: right;
	width: $header-right--width;

	@include media($breakpoint__large-screen) {
		width: $header-right--laptop-width;
	}

	@include media($breakpoint__medium-screen) {
		width: 100%;
	}
}
