//
// Main Entry Article
//
// ==============================

@media only screen and (min-width: 1600px) {

	.entry {
		background-color: $entry--background-color;
		margin-bottom: 40px;
		padding: 70px 80px;

		// @media only screen and (max-width: 860px) {
		// 	padding: 30px;
		// 	margin-bottom: 5%;
		// }
	}
}