/* ### Content */

.content {
	float: right;
	width: $content--width;
	background-color: green;

	@include media($breakpoint__larger-screen) {
		width: $content--larger-screen--width;
		background-color: pink;
	}

	@include media($breakpoint__large-screen) {
			width: $content--large-screen--width;
			background-color: purple;
	}

	.content-sidebar-sidebar &,
	.sidebar-content-sidebar &,
	.sidebar-sidebar-content & {
		width: $content-both-sidebars--width;

		@include media($breakpoint__larger-screen) {
			width: $content-both-sidebars--larger-screen--width ;
		}
		@include media($breakpoint__large-screen) {
			width: $content-both-sidebars--large-screen--width;
		}


	}

	.content-sidebar &,
	.content-sidebar-sidebar &,
	.sidebar-content-sidebar & {
		float: left;
	}

	.full-width-content & {
		width: 100%;
	}
}

// @include media($breakpoint__large-screen) {
// 	.content-sidebar-sidebar .content-sidebar-wrap,
// 	.sidebar-content-sidebar .content-sidebar-wrap,
// 	.sidebar-sidebar-content .content-sidebar-wrap {
// 		width: 740px;
// 	}
// }

// @include media($breakpoint__medium-screen) {
//     .content,
// 	.content-sidebar-sidebar .content,
// 	.content-sidebar-sidebar .content-sidebar-wrap,
// 	.sidebar-content-sidebar .content,
// 	.sidebar-content-sidebar .content-sidebar-wrap,
// 	.sidebar-primary,
// 	.sidebar-secondary,
// 	.sidebar-sidebar-content .content,
// 	.sidebar-sidebar-content .content-sidebar-wrap {
// 		width: 100%;
// 	}
// }