/* ### Primary Sidebar */

.sidebar-primary {
	float: right;
	width: $primary-sidebar--width;

	.sidebar-content &,
	.sidebar-sidebar-content & {
		float: left;
	}

	@media only screen and (max-width: $larger-screen ) {
		width: $primary-sidebar--larger-screen--width;
	}
}