/* ### Primary Sidebar */

.sidebar-primary {
	float: right;
	width: $primary-sidebar--width;

	@include media ($breakpoint__larger-screen ) {
		width: $primary-sidebar--larger-screen--width;
	}

	.sidebar-content &,
	.sidebar-sidebar-content & {
		float: left;
	}
}


