/* ### Primary Sidebar */

.sidebar-primary {
	float: right;
	width: $primary-sidebar--width; // 360px

	@include media ($breakpoint__larger-screen ) {
		width: $primary-sidebar--larger-screen--width; // 300px
	}
 //added to test
	@include media($breakpoint__medium-screen) {
		width: 100%;
		.sidebar-content &,
		.sidebar-sidebar-content & {
			float: left;
		}
	}
}


