/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */
.footer-widgets {
	background-color: $footer-widgets--background-color;
	clear: both;
	@include rem( font-size, $footer-widgets--font-size );
	padding: 60px 0;

    &-1,
    &-2,
    &-3 {
        width: 380px;

        @media only screen and (max-width: 1340px) {
            width: 340px;
        }
        @media only screen and (max-width: 1200px) {
            width: 300px;
        }

        @media only screen and (max-width: 1023px) {
            width: 100%;
        }
    }

    &-1 {
        margin-right: 70px;

        @media only screen and (max-width: 1340px) {
            margin-right: 60px;
        }

        @media only screen and (max-width: 1200px) {
            margin-right: 30px;
        }
    }

    &-1,
    &-2 {
        float: left;

        @media only screen and (max-width: 1023px) {
            margin: 0 auto 40px;
        }
    }

    &-3 {
        float: right;
    }

}