//
// Breakpoints
//
//
// ==============================


/// Larger HD Desktops.
$desktop-large: 1800px;

/// Genesis Sample Defualt Medium Laptops
$desktop-medium: 1340px;

/// Standard Desktops
$desktop: 1200px;

/// Smaller Desktops and Standard iPad Tablet.
$tablet-landscape: 1023px;

/// Breakpoint for WP Admin Bar.
$wp-admin-bar: 783px;

/// Smaller Tablets and Standard iPad Portrait.
$tablet-portrait: 600px;

/// Phones Smaller Than 500px in Width.
$phone: 300px;