$white: #fff;
$black: #000;

$base__color: #333;

$link__color: #c3251d;
$link__hover-color: #333;

$body__background-color: #eee;

//
// Navigation
//=========================
$nav__link-color: $black;
$nav__hover-color: #c3251d;
$submenu__border-color: #eee;
$submenu__link-background-color: $white;

$primary-nav__background-color: $white;
$primary-nav__border-color: #eee;
$primary-nav__link-color: $nav__link-color;

$sec-nav__background-color: $white;
$sec-nav__border-color: #eee;
$sec-nav__link-color: $nav__link-color;


$js-nav__background-color: $white;
$js-nav__hover-color: $black;
$js-nav__focus-color: #c3251d;

$nav-toggle__background-color: $white;
$nav-toggle__color: #333;

$archive-pagination__background-color: $white;
$archive-pagination__color: #333;
$archive-pagination__hover-background-color: #c3251d;
$archive-pagination__hover-color: #$white;

//
// Elements
//==========================
$base__body__background-color: #eee;
$base__body__color: #333;


// Elements -- Forms
$input__background-color: #fff;
$input__border-color: #ddd;
$input__color: #333;
$input__focus: #999;
$form-button__background-color:#333;
$form-button__hover-focus__background-color
: #c3251d;
$form-button__color: $white;
$form-button__hover-focus__color: $white;
$form-button__disabled-background-color: #eee;
$form-button__disabled-color: #777;

//
// Header
//==========================
$site-header__background-color: $white;
$site-title__link-color: #333;

//
// Footer
//=========================
$site-footer__border-color: #eee;
$site-footer__background-color: $white;
$footer-widgets__background-color: $white;


//
// Entry Content
//=========================

$entry__background-color: #fff;
$entry-footer__meta__border-color: #eee;
$entry-title__link-color: #333;
$entry-title__hover-color: #c3251d;
$entry-content__code__background-color: #333;
$entry-content__code__color: #eee;

//
// Comments
//=========================

$comment__background-color: $white;


//
// Widgets
//=========================

$widget-title__link-color: #333;

//
// Plugins
//=========================

$enews__background-color: #333;
$enews-title__color: #fff;
$enews-input__border-color: #333;
$enews-input__background-color: #c3251d;
$enews-input__color: #fff;
$enews-input-focus__background-color: #fff;
$enews-input-focus__color: #333;

//
// General Components
//=========================

$breadcrumbs__background-color: $white;
$author-box__background-color: $white;
$after-entry__background-color: $white;
$archive-description__background-color: $white;
