//
// Device Screen Size Variables
//=================================

$smallest-screen: 320px;
$smaller-screen: 480px;
$small-screen: 860px;
$medium-screen: 1023px;
$large-screen: 1200px;
$larger-screen: 1340px;
$huge-screen: 1600px;

$phone-portrait: 320px;
$phone-landscape: 480px;
$tablet-portrait: 768px;
$tablet-landscape: 1023px;
$laptop: 1200px;
$desktop: 1366px;
$large-desktop: 1600px;
