//
// Dimension Variables
//=================================

$base-width: 1280;
$gutter: 40px;


// Max Widths
$max-width: $base-width + px;

$max-width--larger-screen: 1140px;
$max-width--large-screen: 960px;
$max-width--medium-screen: 800px;

$landing-page__max-width--medium-screen: 800px;

// Content Widths

$content--width: 880px;
// $content--width: $base-width * 0.6875 + px;
$content--larger-screen--width:800px;
$content--large-screen--width:620px;
$content-both-sidebars--width: 660px;
$content-both-sidebars--larger-screen--width: 580px;
$content-both-sidebars--large-screen--width: 400px;

$primary-sidebar--width: 360px;
$primary-sidebar--larger-screen--width: 300px;
$secondary-sidebar--width: 180px;
// $primary-sidebar--width: $max-width - $content--width - $gutter;
// $primary-sidebar--width: $base-width * 0.28125 + px;

$content-sidebar__wrap--width: 1060px;
$content-sidebar__wrap--larger-screen--width: 920px;
$content-sidebar__wrap--large-screen--width: 740px;

// Header Module Widths
$title-area--width: 300px;
$site-title--min-height: 80px;
$header-right--width: 800px;
$header-right--laptop-width: 620px;

// Footer Module Widths
$footer-widgets--width: 380px;
$footer-widgets--width-: 380px;


