
// Common Fonts

$font-family--source-sans-pro: 'Source Sans Pro', sans-serif;


// Base Typography
$html--font-size: 62.5%; // 10px browser default

$base--font-family: $font-family--source-sans-pro;
$base--font-size: 20px;
$base--line-height: 1.2px;

$base-div--font-size: 20px;
$body-div--font-size--small-screen: 18px;
$body-only--font-size--small-screen: 18px;



// Headings

$headings--font-family: $font-family--source-sans-pro;
$headings--line-height: 1.2;

$h1--font-size: 36px;
$h2--font-size: 30px;
$h3--font-size: 24px;
$h4--font-size: 20px;
$h5--font-size: 18px;
$h6--font-size: 16px;


//
// Navigation
//=========================
$nav--font-size: 16px;
$submenu--font-size: 14px;
$primary-nav--font-size: 14px;
$archive-pagination--font-size: 16px;


//
// Elements
//==========================

$blockquote--font-size: 30px;
$input--font-size: 18px;
$form-button--font-size: 16px;

//
// Site Header
//========================

$site-title--font-size: 30px;
$site-description--font-size: 16px;

//
// Site Footer
//========================

$site-footer--font-size: 16px;
$footer-widgets--font-size: 18px;

//
// Entry Content
//========================

$entry-meta--font-size: 16px;
$header__meta--font-size: 16px;
$footer__meta--font-size: 16px;

$entry-title--font-size: 36px;

//
// Comments
//=========================

$comments--font-size: 16px;

//
// Widgets
//=========================

$widget-title--font-size: 18px;
$featured-content__entry-title--font-size: 20px;

//
// Plugins
//=========================

$enews__input--font-size: 16px;

//
// General Components
//=========================

$breadcrumb--font-size: 16px;

$author-box--font-size: 18px;
$author-box__title--font-size: 20px;
$archive-desc__title--font-size: 20px;

$after-entry--font-size: 18px;
$archive-description--font-size: 18px;
$archive__title--font-size: 20px;

