//
// Navigation
//=========================
$nav__font-size: 16;
$submenu__font-size: 14;
$primary-nav__font-size: 14;
$archive-pagination__font-size: 16;

//
// Site Header
//========================

$site-title__font-size: 30;
$site-description__font-size: 16;

//
// Site Footer
//========================

$site-footer__font-size: 16;
$footer-widgets__font-size: 18;

//
// Entry Content
//========================

$entry-meta__font-size: 16;
$entry-meta__header__font-size: 16;
$entry-meta__footer__font-size: 16;

$entry-title__font-size: 36;